     /* General Body Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0f0f;
}


/* Tablet Styles */
.tablet,
.touchpad,
.keyboard{
    width: 80%;
    height: 80%;
    background-color: #5f5f2f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Touchpad Styles */
.touchpad {
    background-color: #5f2f5f;
}

/* Keyboard Styles */
.keyboard {
    background-color: black;
}

/* Row Styles for Keyboard */
.row {
    display: flex;
    justify-content: center;
    height: 20%;

}

/* Key Styles */
.key {
    background-color: #1f1f1f;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    font-size: 18px;
    transition: background-color 0.2s;
    flex: 1;
}

.letter {
    flex:1;
}

.key:hover {
    background-color: #2f2f2f;
}

.key.active {
    background-color: #b350af;
    color: black;
}
.letter {
    max-width: 7%;
}
/* Custom Key Styles */
.Ctrl, .Alt, .Altgr, .Left, .Right,
.Down, .Up, .End, .Del, .Home, .PgUp,
.PgDn, .Super, .Shift, .Tab, .Esc,
.Enter{
    flex: 0;
    min-width: 8%;
}




