     /* General Body Styles */
body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0f0f;
}
.tabs {
    display: flex;
    justify-content: center;
    background-color: #313131;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menuKey {
    background-color: #232323;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}
.menuKeyActive {
    background-color: #3e8e41;
}

/* Tablet Styles */
.tablet,
.touchpad,
.keyboard{
    width: 100%;
    height: 99%;
    background-color: #5f5f2f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Touchpad Styles */
.touchpad {
    background-color: #5f2f5f;
}

/* Keyboard Styles */
.keyboard {
    background-color: black;
}

/* Row Styles for Keyboard */
.row {
    display: flex;
    justify-content: center;

}

/* Key Styles */
.key {
    background-color: #1f1f1f;
    color: white;
    border: none;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0.2%;
    font-size: 18px;
    transition: background-color 0.2s;
    flex: 1;
}

.letter {
    flex:1;
}

.key:hover {
    background-color: #2f2f2f;
}

.key.active {
    background-color: #b350af;
    color: black;
}
.letter {
    min-width: 5%;
}
/* Custom Key Styles */
.keyboard .Ctrl,
.keyboard .Alt,
.keyboard .Altgr,
.keyboard .Left,
.keyboard .Right,
.keyboard .Down,
.keyboard .Up,
.keyboard .End,
.keyboard .Del,
.keyboard .Home,
.keyboard .PgUp,
.keyboard .PgDn,
.keyboard .Super,
.keyboard .Shift,
.keyboard .Tab,
.keyboard .Esc,
.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .Enter {
    flex: 1;
    min-width: 8%;
}
.keyboard .Space {
    min-width: 40%;
    flex: 0;
}




